

.active {
    /* background-color: white ; */
    /* color:"" */
    /* padding: 5px 2rem; */
    /* font-size: large; */
  
    /* font-style: italic; */
    /* border-radius: 10px; */
    padding-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid white;
    
}